{% extends "base.html" %}

{% block content %}
<div class = "row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2 class="site_name">{{name}} </h2>
  </div>
  <div class="col-md-1 col-md-offset-2">
    <a href = "{{url_for('siteDelete', site_id=site.id)}}" class="btn textcol btn-border-color btn-sm">Видалити</a>
  </div>
  <div class="col-md-1">
    <a href = "{{url_for('siteEdit', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm btn-postion">Редагувати</a>
  </div>
</div>
<hr class="hrr"> 
<div class="row">
  <div class="col-md-4">
    <img src="http://lorempixel.com/250/200" alt="Upload image">
  </div>
  <div class=col-md-4>
    <table class="table">
      <tr>
        <td>Назва: </td>
        <td>{{site.name}}</td>
      </tr>
      <tr>
        <td>Топонiм:</td>
        <td>{{site.toponim}}</td>
      </tr>
      <tr>
        <td>Тип пам'ятки:</td>
        <td>{{site.type_of_site}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Область:</td>
        <td>{{site.oblast}}</td>
      </tr>
      <tr>
        <td>Район:</td>
        <td>{{site.rajon}}</td>
      </tr>
      <tr>
        <td>Населений пункт: </td>
        <td>{{site.punkt}}</td>
      </tr>
      <tr>
        <td>Прив'язка: </td>
        <td>{{site.pryvjazka}}</td>
      </tr>
    </table>
  </div>
  <div class="clearfix visible-xs-block"></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table">
      <tr>
        <td>Культурна належнiсть:</td>
        <td>{{site.kultnal}}</td>
      </tr>
      <tr>
        <td>Вузька хронологiя: </td>
        <td>{{site.chron}}</td>
      </tr>
      <tr>
        <td>Надiйнiсть датування: </td>
        <td>{{site.nadijnist}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Розкопки: </td>
        <td>{{site.rozkop}}</td>
      </tr>
      <tr>
        <td>Дослiджена площа (м2)</td>
        <td>{{site.dospl}}</td>
      </tr>
      <tr>
        <td>Звiти: </td>
        <td>{{site.zvit}}</td>
      </tr>
      <tr>
        <td>Публiкацiї: </td>
        <td>{{site.publicacii}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Картографована:</td>
        <td>{{site.kartograph}}</td>
      </tr>
      <tr>
        <td>Координати: </td>
        <td>{{site.coord}}</td>
      </tr>
      <tr>
        <td>Точнiсть картографування:</td>
        <td>{{site.tochkart}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <tr> 
        <td>Рiчковий басейн</td>
        <td>{{site.basejn}}</td>
      <tr>
        <td>Тип топографiчного положення:</td>
        <td>{{site.toppoltype}}</td>
      </tr>
      <tr>
        <td>Геоморфологiчна форма: </td>
        <td>{{site.geomorform}}</td>
      </tr>
      <tr>
        <td>Висота над рiвнем води: </td>
        <td>{{site.vysotnadrm}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Площа пам'ятки (га): </td>
        <td>{{site.ploshch}}</td>
      </tr>
      <tr>
        <td>Довжина: </td>
        <td>{{site.dovz}}</td>
      </tr>
      <tr>
        <td>Ширина: </td>
        <td>{{site.shyr}}</td>
      </tr> 
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Фото:</td>
        <td>{{site.foto}}</td>
      </tr>
      <tr> 
        <td>Плани:</td>
        <td>{{site.plans}}</td>
      </tr>
      <tr>
        <td>Знахiдки:</td>
        <td>{{site.plans}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Вироби з кiстки:</td>
        <td>{{site.kistka}}</td>
      </tr>
      <tr> 
        <td>Вироби iз залiза:</td>
        <td>{{site.zalizo}}</td>
      </tr>
      <tr>
        <td>Вироби з каменю:</td>
        <td>{{site.kamin}}</td>
      </tr>
      <tr>
        <td>Вироби з глини:</td>
        <td>{{site.glyna}}</td>
      </tr>
    </table>
  </div>
</div>
</div>
</div>
{% endblock %}
