Django>=1.9.5
django-choices>=1.4.2
django-picklefield>=0.3.2
django-widget-tweaks>=1.4.1
django-form-utils
django-mathfilters>=0.4.0
django-file-form
easy-thumbnails
dj-database-url
configparser
django-hvad
openpyxl
gunicorn
psycopg2
geopy
six
