{% extends "archapp/base.html" %}

{% block content %}

{% load i18n %}
{% load pick %}
{% load lookup %}
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">{% trans "Filters" %}</a>
      </li>
      <form method="post">
        <li>
          <input type="checkbox" name="by_alphabet">{% trans "Sort by alphabet" %}
        </li>
        {% csrf_token %}
        {% for f in form.fielasds %}
          {{ f }}
        {% endfor %}
        <!-- here goes the search form -->
        {{ form.as_ul }}

      </form>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">{% trans "Filters" %}</a>
        </div>
        <div class="col-md-3">
          <div class="checkbox">
            <label>
              <input id="toggle" type="checkbox" data-toggle="toggle">
                {% trans "Toggle map" %}
            </label>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h2 class="site_name">{% trans "All sites" %}</h2>
        </div>
      </div>
      <hr class="hrr">
      <div class = "mapped">
          <div class="geo-map" id="map"></div>
      </div>
      <div class = "row listed">
        {% for site in object_list %}
        {% if site.user = user %}
        {% with site.image_set.all as imgs %}
        {% with site.props.all as prop %}
        <div class="col-md-4 site-preview">
          <div class="row">
            <a href = "{% url 'archapp:sitepage' site.id %}">
              <div class="col-md-5">
                <img src = "{{imgs|pick:'general,avatar'}}" />
              </div>
            </a>
            <div class="col-md-7">
              <p class="text-left sitename">{{site.name}}</p>
              <p class="text-left">{{prop|lookup:"Area"}}</p>
              <p>{{prop|lookup:"DatingFrom, Dating"}} - {{prop|lookup:"DatingTo, Dating"}}</p>
            </div>
            <input type = "hidden" class = "lat" value = '{{prop|lookup:"Latitude"}}' />
            <input type = "hidden" class = "lng" value = '{{prop|lookup:"Longtitude"}}' />
          </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<script>

$(function() {

  function redrawMap()
  {
      var center = archapp.map.handle.getCenter();
      google.maps.event.trigger(map, 'resize');
      archapp.map.handle.setCenter(center);
  }

  $("#menu-toggle").click(function(e)
  {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
      $("#wrapper").one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(e) { redrawMap(); });
  });

  var createMarkers = function()
  {
    // delete old global marker
    archapp.map.marker.setMap(null);

    // create bunch of new ones
    $.each($('.listed .site-preview'), function(i, preview)
    {
        // quickly fix css
        $(preview).find('.row').removeClass('row');

        var info = new google.maps.InfoWindow({ content: $(preview).html() });
        var mark = new google.maps.Marker({ position: { lat: parseFloat($(preview).find('.lat').val()), lng: parseFloat($(preview).find('.lng').val()) },
                                         map: archapp.map.handle, title: $(preview).find('.sitename').text() });
        mark.addListener('click', function() { info.open(archapp.map.handle, mark); });
        mark.setMap(archapp.map.handle);
    });
  }


  $('#toggle').change(function() {
    if( $(this).prop('checked') )
    {
      $('.listed').hide();
      $('.mapped').show();
      redrawMap();
    }
    else
    {
      $('.listed').show();
      $('.mapped').hide();
    }
  });

  archapp.map.callbacks.push(createMarkers);

});
</script>
{% endblock %}
