{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{%if title %}
<title> {{title}}</title>
{% else %}
<title>{% trans "Archaeology database" %}</title>
{% endif %}
{% load staticfiles %}
<!--style-->
<link rel="stylesheet" type="text/css" href="{% static 'archapp/css/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'archapp/css/my.css' %}" />

<!--js-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!--google maps-->
<script src="{% static 'archapp/js/gm.js' %}"></script>

<!--photo uploads-->
<link href="{% static  'archapp/css/f-upload/kartik/css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'archapp/css/f-upload/kartik/js/plugins/canvas-to-blob.min.js' %}" type="text/javascript"></script>
<script src="{% static 'archapp/css/f-upload/kartik/js/fileinput.min.js'%}" type="text/javascript"></script>
<script src="{% static 'archapp/css/f-upload/kartik/js/fileinput_locale_uk.js' %}"></script>

<!--jqueryui for a slider-->
<link href="{% static 'archapp/jquery-ui/jquery-ui.min.css' %}" media="all" rel="stylesheet" type="text/css" />
<script src="{% static 'archapp/jquery-ui/jquery-ui.min.js' %}"></script>

<!--my js-->
<script src="{% static 'archapp/js/my.js' %}"></script>
<script src="{% static 'archapp/js/slider.js' %}"></script>
<script src="{% static 'archapp/js/tweaks.js' %}"></script>
</head>
<body class="background">
<div class="container container-config textcol">
  <div class="row header">
    <div class="col-md-6"><a href = "{% url 'archapp:welcome' %}" class="btn btn-sm"><h2 class="logo">{% trans "Archaeology database" %}</h2></a></div>

    {% if user.is_authenticated %}
    <div class="col-md-2 padding">
      <form action="" class="form-inline box-shadow" method="post">
        <input class="form-control" type="text" name="name_of_site" placeholder="{% trans 'Search sites' %}">
      </form>
    </div>

    <div class="col-md-1 text-center padding"><a href ="{% url 'archapp:newsite'%}" class="btn btn-color btn-sm">{% trans "New site" %}</a>
    </div>
    <div class="col-md-1 text-center padding"><a href = "{% url 'archapp:all' %}" class="btn btn-color btn-sm">{% trans "All sites" %}</a>
    </div>
    <div class="col-md-1 text-center padding"><a href = "" class="btn btn-color btn-sm">{{user}}</a></div>
    {% endif %}
    {% if user.is_anonymous %} 
    <div class="col-md-2 col-md-offset-3 text-center padding"><a href = "{% url 'archapp:signup' %}" class="btn btn-color btn-sm">{% trans "Register" %}</a></div>
    <div class="col-md-1 text-center padding"><a href = "{% url 'archapp:login' %}" class="btn btn-color btn-sm">{% trans "Log in" %}</a></div>
    {% else %}
    <div class="col-md-1 text-center padding"><a href = "{% url 'archapp:logout' %}" class="btn btn-color btn-sm">{% trans "Log out" %}</a></div>
    {% endif %}

  </div>
  {% block content %} {% endblock %}
  <footer class="row footer">
    <div class="container">
      <div class="header row">
      <div class="text-right"><strong class="signature">Written by BB</strong></div>
    </div>
    </div>
  </footer>
</div>
<!-- need to specify a key -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap&language={{LANGUAGE_CODE}}"></script>
</body>
</html>

