{% extends "archapp/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load pick %}
{% load lookup %}
{% with site.image_set.all as imgs %}
{% with site.props.all as prop %}
{% block content %}
<div class="row text-center">
    <h2 class="site_name">Редагувати {{site.name}}</h2>
    <h2> {{ site.props.all|lookup:"RiverSystem"}} </h2>
</div>
<form id="newsiteform" action="{% url 'archapp:edit_form' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% render_field form.site_id type="hidden" value=site.id %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <ul class="nav nav-tabs" role="tablist">
    {% for fset in form.fieldsets %}
    <li role = "presentation"{% if forloop.first %} class="active"{% endif %}>
    <a href = "#{{ fset.legend }}" role = "tab" data-toggle = "tab">{{ fset.description }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for fset in form.fieldsets %}
    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{fset.legend}}">
      <div class="row margin-top">
        {% if fset.description = "References" %}
        <div class="col-md-8 col-md-offset-2">
          {% else %}
        <div class="col-md-4 col-md-offset-4">
          {% endif %}
          {% for field in fset %}
          {% if not field.is_hidden %}
          <div class="row form-group-custom">
            {% else %}
            <div class="row">
              {% endif %}
              {% if not field.is_hidden %}
        <div class = "col-md-6 text-right text-gr">{{field.label_tag}}</div>
        {% endif %}
        {% if field.name = "literature" %}
        <div class = "col-md-12">
          {% else %}
          <div class = "col-md-6">
            {% endif %}
            {% with site.props.all|lookup:field.name as val %}
            {% with 'riversystem topography geomorphology' as cho %}
            {% if field.name = "name" %}
            {% render_field field class+="form-control form-custom" value=site.name %}
            {% elif field.name = "literature" %}
            {{ field|attr:"class:form-control form-custom"}}
            {% elif field.name in cho.split %}
            <p>hello</p>
            {% endfor %}
            {% else %}
            {% render_field field class+="form-control form-custom" value=val %}
            {% endif %}
            {% endwith %}
            {% endwith %}
          </div>
          <div class="row">
            <div class="col-md-12 text-danger text-center">
            {{ field.errors }}
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
        {% if forloop.first %}
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{% trans "Click on the map to pick location" %}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
          <div class="geo-map" id="map"></div>
        </div>
      </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="row mbottom">
      <div id='testinput'></div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}" class="btn btn-border-color textcol btn-sm background" />
        <a href = "{% url 'archapp:welcome'%}" class="btn btn-primary">{% trans 'Cancel' %}</a>
      </div>
      <br />
    </div>
  </div>
</form>

<script type="text/javascript">
$(function() {
    initUploadFields($('#newsiteform'));
    });
</script>
<script type="text/javascript">
{% with site.data.0.Bibliography as lit %}
$(document).ready(function(){
    var lit_data = '{{lit}}';
    $("#id_literature").val(lit_data);
    });
{% endwith %}
</script>


{% include 'django_file_form/upload_template.html' %}
{% endblock %}
{% endwith %}
{% endwith %}
