{% extends "archapp/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<div class="row text-center">
  <h2 class="site_name">{% trans "Create new site" %}</h2>
</div>
<form id="newsiteform" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <ul class="nav nav-tabs" role="tablist">
    {% for fset in form.fieldsets %}
    <li role = "presentation"{% if forloop.first %} class="active"{% endif %}>
    <a href = "#{{ fset.legend }}" role = "tab" data-toggle = "tab">{{ fset.description }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for fset in form.fieldsets %}
    <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="{{fset.legend}}">
      <div class="row">
        {% if fset.description = "References" %}
        <div class="col-md-8 col-md-offset-2">
          {% else %}
        <div class="col-md-4 col-md-offset-4">
          {% endif %}
          {% for field in fset %}
          {% if not field.is_hidden %}
          <div class="row form-group">
            {% else %}
            <div class="row">
              {% endif %}
              {% if not field.is_hidden %}
        <div class = "col-md-6 text-right text-gr">{{field.label_tag}}</div>
        {% endif %}
        {% if field.name = "literature" %}
        <div class = "col-md-12">
          {% else %}
          <div class = "col-md-6">
            {% endif %}
            {{ field|attr:"class:form-control"}}
          </div>
          <div class="row">
          <div class="col-md-12 text-danger text-center">
            {{ field.errors }}
          </div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
        {% if forloop.first %}
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>{% trans "Click on the map to pick location" %}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
          <div class="geo-map" id="map"></div>
        </div>
      </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div class="row mbottom">
      <div id='testinput'></div>
      <div class="col-md-4 col-md-offset-4 text-center">
        <input type="submit" class="btn btn-primary" value="{% trans 'Create' %}" class="btn btn-border-color textcol btn-sm background" />
        <a href = "{% url 'archapp:welcome'%}" class="btn btn-primary">{% trans 'Cancel' %}</a>
      </div>
      <br />
    </div>
  </div>
</form>

<script type="text/javascript">
$(function() {
    initUploadFields($('#newsiteform'));
    });
</script>
{% include 'django_file_form/upload_template.html' %}
{% endblock %}
