{% extends "archapp/base.html" %}

{% block content %}
<div class="container container-config">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="site_name">Створити нову пам'ятку</h2>
    </div>
  </div>
  <hr class="hrr"> 
  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>
  <form action="#" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#maindata" aria-controls="home" role="tab" data-toggle="tab">Базові дані</a></li>
      <li role="presentation"><a href="#description" aria-controls="profile" role="tab" data-toggle="tab">Опис</a></li>
      <li role="presentation"><a href="#typology" aria-controls="messages" role="tab" data-toggle="tab">Типологія</a></li>
      <li role="presentation"><a href="#attachments" aria-controls="settings" role="tab" data-toggle="tab">Додатки</a></li>
      <li role="presentation"><a href="#literature" aria-controls="settings" role="tab" data-toggle="tab">Література</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="maindata">
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="name">Назва </label>
          {{form.name}}
          {{form.name.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="country">Країна</label>
          {{form.country}}
          {{form.country.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="region">Область</label>
          {{form.region}}
          {{form.region.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="district">Район </label>
          {{form.district}}
          {{form.district.errors}}
        </div>
         <div class="row">
          <label class="col-md-2 col-md-offset-4" for="settlement">Населений пункт </label>
          {{form.settlement}}
          {{form.settlement.errors}}
        </div>
 
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3>Клікніть на мапі, щоб встановити локацію</h3>
            </div>
          </div>
          <div id="map"></div>
          <div id="floating-panel">
            <input id="address" type="textbox" value="Київ, Київська область">
            <input id="submit" type="button" value="Geocode">
            <input id="reset" type="button" value="reset">
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="description">
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="area">Площа пам'ятки</label>
          {{form.area}}
          {{form.area.errors}}
        </div>
         <div class="row">
          <label class="col-md-2 col-md-offset-4" for="height">Довжина</label>
          {{form.height}}
          {{form.height.errors}}
        </div>
         <div class="row">
          <label class="col-md-2 col-md-offset-4" for="width">Ширина</label>
          {{form.width}}
          {{form.width.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="calculated_area">Розрахункова площа</label>
          {{form.calculated_area}}
          {{form.calculated_area.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="topography">Топографія</label>
          {{form.topography}}
          {{form.topography.errors}}
        </div>

        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="geomorphology">Геоморфологічна форма</label>
          {{form.geomorphology}}
          {{form.geomorphology.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="altitude">Висота над рівнем моря</label>
          {{form.altitude}}
          {{form.altitude.errors}}
        </div>
       <div class="row">
          <label class="col-md-2 col-md-offset-4" for="valleyaltitude">Висота над долиною</label>
          {{form.valleyaltitude}}
          {{form.valleyaltitude.errors}}
        </div>
 <div class="row">
          <label class="col-md-2 col-md-offset-4" for="dating">Датування</label>
          {{form.dating}}
          {{form.dating.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="undefined_date">Точно не встановлено</label>
          {{form.undefined_date}}
          {{form.undefined_date.errors}}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="typology">...</div>
      <div role="tabpanel" class="tab-pane" id="attachments">
        <div class="row">
          <label class="col-md-2 col-md-offset-2" for="input-id">Основна світлина</label>
          {{form.image}}
          {{form.image.errors}}
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-2" for="input-6">Плани</label>
          <input id="input-6" name="input6[]" type="file" multiple class="file">
        </div>
        <div class="row">
          <label class="col-md-2 col-md-offset-2" for="input-61">Фотографії</label>
              <input id="input-61" name="input6[]" type="file" multiple class="file">
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-2" for="input-62">Знахідки</label>
              <input id="input-62" name="input6[]" type="file" multiple class="file">
            </div>

          </div>
          <div role="tabpanel" class="tab-pane" id="literature">
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="literature">Література</label>
              {{form.literature}}
              {{form.literature.errors}}
            </div>
                    </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <input type="submit" value="Створити" class="btn btn-border-color textcol btn-sm background">
        <a href = "{% url 'archapp:welcome'%}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
      </div>
    </div> 
  </form>
</div>

{% endblock %}
