{% extends "archapp/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
  <div class="col-md-12 text-center">
    <h2>{% trans "Register" %}</h2>
  </div>
</div>
<form action="" method="post">
  {% csrf_token %}
  <div class="row form-group-custom">
    <div class="col-md-3 col-md-offset-5 box">
      {% for field in form %}
      <div class="row">
        <div class = "col-md-12">{{field.label_tag}}</div>
      </div>
      <div class="row">
        <div class = "col-md-12">
          {{ field|attr:"class:form-control form-custom has-error"}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-danger">
          {{ field.errors }}
        </div>
      </div>
    {% endfor %}
    <div class="row margin-top">
      <div class="col-md-2 col-md-offset-4">
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

