{% extends "archapp/base.html" %}

{% block content %}
{% load i18n %}
{% with site.props.all as prop %}

<div class = "row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2 class="site_name">{{site.name}} </h2>
  </div>
</div>

<div class ="row">
  <div class="col-md-1 col-md-offset-2">
    <a href = "{% url 'archapp:delete' site.id %}" class="btn textcol btn-border-color btn-sm">{% trans "Delete" %}</a>
  </div>
  <div class="col-md-1">
    <a href = "{% url 'archapp:edit' site.id %}" class="btn btn-border-color textcol btn-sm btn-postion">{% trans "Edit" %}</a>
  </div>
</div>
<hr class="hrr"> 
{% for e in prop %}
<div class="row">
  <div class=col-md-4>
    <table class="table">
      <tr>
        <td>{{e.instance}} </td>
        <td>{{e}}</td>
      </tr>
    </table>
  </div>
</div>
{% endfor %}
{% for d in site.data %}
<div class="row">
{{d}}
</div>
{% endfor %}
<br>
<br>
<!--
<div class="row">
  <div class="col-md-4">
    <img src="#" class="avatar" alt="Upload image">
  </div>
  <div class=col-md-4>
    <table class="table">
      <tr>
        <td>Назва: </td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <table class="table">
      <tr>
        <td>Країна:</td>
      </tr>
      <tr>
        <td>Область:</td>
      </tr>
      <tr>
        <td>Район:</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <table class="table">
        <tr>
        <td>Вузька хронологiя: </td>
      </tr>
      <tr>
        <td>Невизначена хронологія: </td>
      </tr>
    </table>
  </div>
</div>
-->
{% endwith %}
{% endblock %}
