{% extends "archapp/base.html" %}

{% block content %}
{% load i18n %}
{% load lookup %}
{% load mathfilters %}
{% with site.props.all as prop %}

<div class="row">
  <div class="col-md-3">
    <div class="row">
        <input id="lat" type="hidden" value='{{ prop|lookup:"latitude" }}' />
        <input id="lon" type="hidden" value='{{ prop|lookup:"longtitude" }}' />
      <div class="map-preview" id="map"></div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>{% trans "Settlement" %} </p>
      </div>
      <div class="col-md-9">
        <p>{{prop|lookup:"settlement"}}, {{prop|lookup:"district"}}, {{prop|lookup:"region"}}, {{prop|lookup:"country"}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class = "row">
      <div class="col-md-4 text-center">
        <h2 class="site_name">{{site.name}} </h2>
      </div>

      <div class="col-md-2 col-md-offset-4">
        <a href = "{% url 'archapp:delete' site.id %}" class="btn textcol btn-border-color btn-sm">{% trans "Delete" %}</a>
      </div>
      <div class="col-md-2">
        <a href = "{% url 'archapp:edit' site.id %}" class="btn btn-border-color textcol btn-sm btn-postion">{% trans "Edit" %}</a>
      </div>
    </div>
        <div class="row">
      <div class="col-md-2">
        <p>{% trans "RiverSystem" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"RiverSystem"}}</p>
      </div>
    </div>
        <div class="row">
      <div class="col-md-2">
        <p>{% trans "Area" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"Area"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>{% trans "AreaWidth" %} </p>
      </div>
      <div class="col-md-2">
        <p>{{prop|lookup:"AreaWidth"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>{% trans "AreaHeight" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"AreaHeight"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p>{% trans "Calculated Area" %} </p>
      </div>
      <div class="col-md-10">
        {% with prop|lookup:"AreaWidth" as aw %}
        {% with prop|lookup:"AreaHeight" as ah %} 
        <p>{{ aw|mul:ah }}</p>
        {%endwith%}
        {%endwith%}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <p> {% trans "Topography" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"Topography"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p> {% trans "Geomorphology" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"Geomorphology"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p> {% trans "Altitude" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"Altitude"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p> {% trans "ValleyAltitude" %} </p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"ValleyAltitude"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p> {% trans "Dating" %}</p>
      </div>
      <div class="col-md-10">
        <p>{{prop|lookup:"DatingFrom, Dating"}} - {{prop|lookup:"DatingTo, Dating"}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <p> {% trans "Bibliography" %} </p>
      </div>
      <div class="col-md-10 bibliography">
        <p>{{site.data.0.Bibliography}}</p>
      </div>
    </div>
  </div>
</div>
{% endwith %}
{% endblock %}
