.conteiner-config {
    margin-bottom: 30px;
}
.header {
    background: #C3D7DF;
}
.footer {
    position: fixed;
    bottom: 0px;
    width: auto;
    height: 20px;
    background-color: #C3D7DF;
}
.site_name {
    margin: auto;
    font-weight: bold;
    color: #67727A;
}
.btn-color {
    color: #6991AC;
}
.btn-border-color {
    border-color: #C3D7DF;
}
.btn-postion {
    position: relative;
    right: 5px;
}
.logo {
    color: #6991AC;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px;
}
.signature {
    color: #6991AC;
}
.padding {
    padding-top: 15px;
}
.background {
    background-color: #F5F5F5;
}
.hrr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px;
    border-top: 3px solid #D75C37;
}
.textcol {
    color: #67727A;
}
.html-height,.body-height {
    height: 100%;
}
