<!DOCTYPE html>
<html>
<head>
<title>Edit site 4</title>
<meta charset="UTF-8">
</head>
<body>
    <div>
        <h1>Редагувати пам'ятку {{site.name}}</h1>
        <h2>Крок 4</h2>
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <table>
                    <tr>
                        <td>Розкопки: </td>
                        <td><input type="text" name="rozkop"></td>
                    </tr>
                    <tr>
                        <td>Звiти: </td>
                        <td><input type="text" name="zvit"></td>
                    </tr>
                    <tr>
                        <td>Публiкацiї: </td>
                        <td><input type="text" name="publicacii"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <input type="submit" value="Зберегти">
                <a href = "{{url_for('sitePage', site_id=site.id)}}">Повернутися</a>
            </div>
            <div>
                <a href = "{{url_for('siteEditChron', site_id=site.id)}}">Попереднiй крок</a>
                <a href = "{{url_for('siteEditMap', site_id=site.id)}}">Наступний крок</a>
            </div>
        </form>
    </body>
</html>
