<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The site</title>
    <link href="{{url_for('static', filename='bootstrap.css')}}" type="text/css" rel="stylesheet">
    <link href="{{url_for('static', filename='my.css')}}" type="text/css" rel="stylesheet">

</head>
<body class="background">
<div class="container container-config textcol">
    <div class="row header">
        <div class="col-md-5"><a href = "{{url_for('welcomePage')}}" class="btn btn-sm"><h2 class="logo">Skiff stuff</h2></a></div>
        <div class="col-md-2 padding">
            <form class="form-inline box-shadow">
                <label class="sr-only">Пошук:</label>
                <input class="form-control" type="text" name="name_of_site" placeholder="Пошук пам'яток">
            </form>
        </div>
        <div class="col-md-1 text-center padding"><a href ="{{url_for('newSite')}}" class="btn btn-color btn-sm">Нова</a>
        </div>
        <div class="col-md-1 text-center padding"><a href = "{{url_for('allSites')}}" class="btn btn-color btn-sm">Усi</a>
        </div>
        <div class="col-md-1 text-center padding"><a href = "#" class="btn btn-color btn-sm">Увiйти</a></div>
        <div class="col-md-2 text-center padding"><a href = "#" class="btn btn-color btn-sm">Зареєструватися</a></div>
    </div>
    <div class = "row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="site_name">Редагувати {{site.name}}</h2>
        </div>
    </div>
    <hr class="hrr"> 

    <div class="row">
        <h2></h2>
    </div>

    <div>
        <img src="http://lorempixel.com/400/200" alt="Upload image">
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <table>
                    <tr>
                        <td>Назва: </td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>Топонiм:</td>
                        <td><input type="text" name="toponim"></td>
                    </tr>
                    <tr>
                        <td>Тип пам'ятки:</td>
                        <td>
                            <select name="type_of_site" size="1">
                                <option value="Городище">Городище</option>
                                <option value="Поселення">Поселення</option>
                                <option value="Могильник">Могильник</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <input type="submit" value="Зберегти">
                <a href = "{{url_for('sitePage', site_id=site.id)}}">Повернутися</a>
            </div>
            <div>
                <a href = "{{url_for('siteEditAd', site_id=site.id)}}">Наступний крок</a>
                
            </div>
        </form>
        
    </div>
<footer class="footer">
<div class="container">
        <div class="header text-right"><strong class="signature">Written by BB</strong></div>
</div>
</footer>

</div> 
</body>
</html>
