<!DOCTYPE html>
<html>
<head>
<title>New site</title>
<meta charset="UTF-8">
</head>
<body>
    <div>
        <h1>Редагувати пам'ятку {{site.name}}</h1>
        <h2>Крок 7</h2>
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <table>
                    <tr>
                        <td>Площа пам'ятки (га): </td>
                        <td><input type="text" name="ploshch"></td>
                    </tr>
                    <tr>
                        <td>Довжина: </td>
                        <td><input type="text" name="dovz"></td>
                    </tr>
                    <tr>
                        <td>Ширина: </td>
                        <td><input type="text" name="shyr"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <input type="submit" value="Зберегти">
                <a href = "{{url_for('sitePage', site_id=site.id)}}">Повернутися</a>
            </div>
            <div>
                <a href = "{{url_for('siteEditTop', site_id=site.id)}}">Попереднiй крок</a>
            </div>
        </form>
    </body>
</html>
