<!DOCTYPE html>
<html>
<head>
<title>Edit site 3</title>
<meta charset="UTF-8">
</head>
<body>
    <div>
        <h1>Редагувати пам'ятку {{site.name}}</h1>
        <h2>Крок 3</h2>
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <table>
                    <tr>
                        <td>Культурна належнiсть:</td>
                        <td>
                            <select name="kultnal" size="1">
                                <option value="Скiфська">Скiфська</option>
                                <option value="Юхнiвська">Юхнiвська</option>
                                <option value="Двошарова">Двошарова</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Вузька хронологiя: </td>
                        <td><input type="text" name="chron"></td>
                    </tr>
                    <tr>
                        <td>Надiйнiсть датування: </td>
                        <td><input type="text" name="nadijnist"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <input type="submit" value="Save">
                <a href = "{{url_for('sitePage', site_id=site.id)}}">Повернутися</a>
            </div>
            <div>
                <a href = "{{url_for('siteEditAd', site_id=site.id)}}">Попереднiй крок</a>
                <a href = "{{url_for('siteEditRozk', site_id=site.id)}}">Наступний крок</a>
                
            </div>
        </form>
    </body>
</html>
