<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The site</title>
<link href="{{url_for('static', filename='bootstrap.css')}}" type="text/css" rel="stylesheet">
<link href="{{url_for('static', filename='my.css')}}" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
</head>
<body class="background">
<div class="container container-config textcol">
  <div class="row header">
    <div class="col-md-5"><a href = "{{url_for('welcomePage')}}" class="btn btn-sm"><h2 class="logo">Skiff stuff</h2></a></div>
    <div class="col-md-2 padding">
      <form class="form-inline box-shadow">
        <label class="sr-only">Пошук:</label>
        <input class="form-control" type="text" name="name_of_site" placeholder="Пошук пам'яток">
      </form>
    </div>
    <div class="col-md-1 text-center padding"><a href ="{{url_for('newSite')}}" class="btn btn-color btn-sm">Нова</a>
    </div>
    <div class="col-md-1 text-center padding"><a href = "{{url_for('allSites')}}" class="btn btn-color btn-sm">Усi</a>
    </div>
    <div class="col-md-1 text-center padding"><a href = "#" class="btn btn-color btn-sm">Увiйти</a></div>
    <div class="col-md-2 text-center padding"><a href = "#" class="btn btn-color btn-sm">Зареєструватися</a></div>
  </div>
  <div class = "row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2 class="site_name">Редагувати {{site.name}}</h2>
    </div>
  </div>
  <hr class="hrr"> 
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <img src="http://lorempixel.com/400/200" alt="Upload image">
    </div>
  </div>

  <form action="#" method="post"> 
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Назва, топонiм, тип
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapsing" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Назва: </td>
                    <td><input type="text" name="name"></td>
                  </tr>
                  <tr>
                    <td>Топонiм:</td>
                    <td><input type="text" name="toponim"></td>
                  </tr>
                  <tr>
                    <td>Тип пам'ятки:</td>
                    <td>
                      <select name="type_of_site" size="1">
                        <option value="Городище">Городище</option>
                        <option value="Поселення">Поселення</option>
                        <option value="Могильник">Могильник</option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Область, район, населений пункт, примiтки
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Область:</td>
                    <td>
                      <select name="oblast" size="1">
                        <option value="Вiнницька">Вiнницька</option>
                        <option value="Сумська">Сумська</option>
                        <option value="Київська">Київська</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Район:</td>
                    <td>
                      <select name="rajon" size="1">
                        <option value="Iрпiнський">Iрпiнський</option>
                        <option value="Ладижинський">Ладижинський</option>
                        <option value="Київський">Київський</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Населений пункт:</td>
                    <td>
                      <select name="punkt" size="1">
                        <option value="Дубки">Дубки</option>
                        <option value="Волноваха">Волноваха</option>
                        <option value="Пiски">Пiски</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Примiтки: </td>
                    <td><input type="text" name="prymitky"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Культуран належнiсть, вузька хронологiя, надiйнiсть датування 
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Культурна належнiсть:</td>
                    <td>
                      <select name="kultnal" size="1">
                        <option value="Скiфська">Скiфська</option>
                        <option value="Юхнiвська">Юхнiвська</option>
                        <option value="Двошарова">Двошарова</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Вузька хронологiя: </td>
                    <td><input type="text" name="chron"></td>
                  </tr>
                  <tr>
                    <td>Надiйнiсть датування: </td>
                    <td><input type="text" name="nadijnist"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Розкопки, звiти, публiкацiї
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Розкопки: </td>
                    <td><input type="text" name="rozkop"></td>
                  </tr>
                  <tr>
                    <td>Звiти: </td>
                    <td><input type="text" name="zvit"></td>
                  </tr>
                  <tr>
                    <td>Публiкацiї: </td>
                    <td><input type="text" name="publicacii"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Картографування, координати, точнiсть катографування
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Картографована:</td>
                    <td>
                      <select name="kartograph" size="1">
                        <option value="Так">Так</option>
                        <option value="Нi">Нi</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Координати: </td>
                    <td><input type="text" name="coord"></td>
                  </tr>
                  <tr>
                    <td>Точнiсть картографування:</td>
                    <td>
                      <select name="tochkart" size="1">
                        <option value="Точно">Точно</option>
                        <option value="За прив'язкою">За прив'язкою</option>
                        <option value="Гiпотетично">Гiпотетично</option>
                      </select>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Топографiчне положення, геоморфологiчна форма, висота над рiвнем моря 
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Тип топографiчного положення:</td>
                    <td>
                      <select name="toppoltype" size="1">
                        <option value="Дюна">Дюна</option>
                        <option value="Тераса">Тераса</option>
                        <option value="2-га тераса">2-га тераса</option>
                        <option value="Корiнний берег">Корiнний берег</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Геоморфологiчна форма: </td>
                    <td><input type="text" name="geomorform"></td>
                  </tr>
                  <tr>
                    <td>Висота над рiвнем моря: </td>
                    <td><input type="text" name="vysotnadrm"></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Площа пам'ятки, довжина, ширина 
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <table class="table">
                  <tr>
                    <td>Площа пам'ятки (га): </td>
                    <td><input type="text" name="ploshch"></td>
                  </tr>
                  <tr>
                    <td>Довжина: </td>
                    <td><input type="text" name="dovz"></td>
                  </tr>
                  <tr>
                    <td>Ширина: </td>
                    <td><input type="text" name="shyr"></td>
                  </tr> 
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2 text-center">
                <input type="submit" value="Редагувати" class="btn btn-border-color textcol btn-sm background">
                <a href = "{{url_for('sitePage', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
  <footer class="footer">
    <div class="container">
      <div class="header text-right"><strong class="signature">Written by BB</strong></div>
    </div>
  </footer>
</div>
</body>
</html>
