{% extends "base.html" %}

{% block content %}
<div class="container container-config">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h2 class="site_name">Створити нову пам'ятку</h2>
    </div>
  </div>
  <hr class="hrr"> 
  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>
  <form action="#" method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#maindata" aria-controls="home" role="tab" data-toggle="tab">Базові дані</a></li>
      <li role="presentation"><a href="#description" aria-controls="profile" role="tab" data-toggle="tab">Опис</a></li>
      <li role="presentation"><a href="#typology" aria-controls="messages" role="tab" data-toggle="tab">Типологія</a></li>
      <li role="presentation"><a href="#attachments" aria-controls="settings" role="tab" data-toggle="tab">Додатки</a></li>
      <li role="presentation"><a href="#literature" aria-controls="settings" role="tab" data-toggle="tab">Література</a></li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="maindata">
        <div class="row">
          <label class="col-md-2 col-md-offset-4" for="name">Назва </label>
          {{form.name}}
          {%for error in form.name.errors %}
          {{error}}
          {%endfor%}
        </div>
      <div class="row">
              <label class="col-md-2 col-md-offset-4" for="krajina">Країна</label>
              {{form.krajina}}
              {%for error in form.krajina.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="oblast">Область</label>
              {{form.oblast}}
              {%for error in form.oblast.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="rajon">Район </label>
              {{form.rajon}}
              {%for error in form.rajon.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="punkt">Населений пункт</label>
              {{form.punkt}}
              {%for error in form.punkt.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-12 text-center">
                  <h3>Клікніть на мапі, щоб встановити локацію</h3>
                </div>
              </div>
              <div id="map"></div>
              <div id="floating-panel">
                <input id="address" type="textbox" value="Київ, Київська область">
                <input id="submit" type="button" value="Geocode">
                <input id="reset" type="button" value="reset">
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="description">
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="ploshch">Точна площа пам'ятки</label>
              {{form.ploshch}}
              {%for error in form.ploshch.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="dovz">Довжина</label>
              {{form.dovz}}
              {%for error in form.dovz.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="shyr">Ширина</label>
              {{form.shyr}}
              {%for error in form.shyr.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <p>Розрахункова площа</p>
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="toppotype">Топографія</label>
              {{form.toppotype}}
              {%for error in form.toppotype.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="geomorform">Геоморфологічна форма</label>
              {{form.geomorform}}
              {%for error in form.geomorform.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="vysotnadrm">Висота над рівнем моря</label>
              {{form.vysotnadrm}}
              {%for error in form.vysotnadrm.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <p>Висота над долиною</p>
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="chron">Вузька хронологія</label>
              {{form.chron}}
              {%for error in form.chron.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="nadijnist">Надійність датування</label>
              {{form.nadijnist}}
              {%for error in form.nadijnist.errors %}
              {{error}}
              {%endfor%}
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="typology">...</div>
          <div role="tabpanel" class="tab-pane" id="attachments">...</div>
          <div role="tabpanel" class="tab-pane" id="literature">
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="publicacii">Публікації</label>
              {{form.publicacii}}
              {%for error in form.publicacii.errors %}
              {{error}}
              {%endfor%}
            </div>
           </div>
        </div>
        <!--
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Основні відомості
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="name">Назва </label>
              {{form.name}}
              {%for error in form.name.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="toponim">Топонiм </label>
              {{form.toponim}}
              {%for error in form.toponim.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="type_of_site">Тип пам'ятки </label>
              {{form.type_of_site}}
              {%for error in form.type_of_site.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row" hidden>
              <label class="col-md-2 col-md-offset-4" for="krajina">Країна</label>
              {{form.krajina}}
              {%for error in form.krajina.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row" hidden>
              <label class="col-md-2 col-md-offset-4" for="oblast">Область</label>
              {{form.oblast}}
              {%for error in form.oblast.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row" hidden>
              <label class="col-md-2 col-md-offset-4" for="rajon">Район </label>
              {{form.rajon}}
              {%for error in form.rajon.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row" hidden>
              <label class="col-md-2 col-md-offset-4" for="latd">Довгота</label>
              {{form.latd}}
              {%for error in form.latd.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row" hidden>
              <label class="col-md-2 col-md-offset-4" for="longt">Широта</label>
              {{form.longt}}
              {%for error in form.longt.errors %}
              {{error}}
              {%endfor%}
            </div>

            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="punkt">Населений пункт</label>
              {{form.punkt}}
              {%for error in form.punkt.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="pryvjazka">Прив'язка </label>
              {{form.pryvjazka}}
              {%for error in form.pryvjazka.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <h3>Культурна належність</h3>
                <div> 
                  <label class="col-md-10" for="skiph">Скіфська</label>
                  {{form.skiph(value="Скіфська")}}
                  {%for error in form.skiph.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="juhn">Юхнівська</label>
                  {{form.juhn(value="Юхнівська")}}
                  {%for error in form.juhn.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="pjuhn">Пізньоюхнівська</label>
                  {{form.pjuhn(value="Пізноюхнівська")}}
                  {%for error in form.pjuhn.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="verok">Верхньокська</label>
                  {{form.verok(value="Верхньоокська")}}
                  {%for error in form.verok.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="dvosh">Двошарова</label>
                  {{form.dvosh(value="Двошарова")}}
                  {%for error in form.dvosh.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="drz">Д.Р.З.</label>
                  {{form.drz(value="Д.Р.З.")}}
                  {%for error in form.drz.errors %}
                  {{error}}
                  {%endfor%}
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="name">Завантажити фото</label>
              {{form.photo}}
              {%for error in form.photo.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="prymitky">Примітки</label>
              {{form.prymitky}}
              {%for error in form.prymitky.errors %}
              {{error}}
              {%endfor%}
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Додаткові відомості #1
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="localgr">Локальна група</label>
              {{form.localgr}}
              {%for error in form.localgr.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="chron">Вузька хронологія</label>
              {{form.chron}}
              {%for error in form.chron.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="nadijnist">Надійність датування</label>
              {{form.nadijnist}}
              {%for error in form.nadijnist.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="rozkop">Розкопки</label>
              {{form.rozkop(value="Так")}}
              {%for error in form.rozkop.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="dospl">Досліджена площа (м2)</label>
              {{form.dospl}}
              {%for error in form.dospl.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="zvit">Звіти</label>
              {{form.zvit}}
              {%for error in form.zvit.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="publicacii">Публікації</label>
              {{form.publicacii}}
              {%for error in form.publicacii.errors %}
              {{error}}
              {%endfor%}
            </div>

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Додаткові відомості #2
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="kartograph">Картографована</label>
              {{form.kartograph(value="Так")}}
              {%for error in form.kartograph.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="tochkart">Точність картографування</label>
              {{form.tochkart}}
              {%for error in form.tochkart.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="basejn">Річковий басейн</label>
              {{form.basejn}}
              {%for error in form.basejn.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="toppotype">Тип топографічного положення</label>
              {{form.toppotype}}
              {%for error in form.toppotype.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="geomorform">Геоморфологічна форма</label>
              {{form.geomorform}}
              {%for error in form.geomorform.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="vysotnadrm">Висота над рівнем води</label>
              {{form.vysotnadrm}}
              {%for error in form.vysotnadrm.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="ploshch">Точна площа пам'ятки</label>
              {{form.ploshch}}
              {%for error in form.ploshch.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="dovz">Довжина</label>
              {{form.dovz}}
              {%for error in form.dovz.errors %}
              {{error}}
              {%endfor%}
            </div>
            <div class="row">
              <label class="col-md-2 col-md-offset-4" for="shyr">Ширина</label>
              {{form.shyr}}
              {%for error in form.shyr.errors %}
              {{error}}
              {%endfor%}
            </div>


          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Додаткові відомості #3
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <h3>Додатки</h3>
                <div> 
                  <label class="col-md-10" for="foto">Фото</label>
                  {{form.foto(value="Є")}}
                  {%for error in form.foto.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="plans">Плани</label>
                  {{form.plans(value="Є")}}
                  {%for error in form.plans.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="znahidky">Знахідки</label>
                  {{form.znahidky(value="Є")}}
                  {%for error in form.znahidky.errors %}
                  {{error}}
                  {%endfor%}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 col-md-offset-4">
                <h3>Матеріальна культура</h3>
                <div> 
                  <label class="col-md-10" for="kistka">Вироби з кістки</label>
                  {{form.kistka(value="Є")}}
                  {%for error in form.kistka.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="zalizo">Вироби з заліза</label>
                  {{form.zalizo(value="Є")}}
                  {%for error in form.zalizo.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="kamin">Вироби з каменю</label>
                  {{form.kamin(value="Є")}}
                  {%for error in form.kamin.errors %}
                  {{error}}
                  {%endfor%}
                </div>
                <div>
                  <label class="col-md-10" for="glyna">Вироби з глини</label>
                  {{form.glyna(value="Є")}}
                  {%for error in form.glyna.errors %}
                  {{error}}
                  {%endfor%}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
-->
<!--
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Клікніть на мапі, щоб встановити локацію</h3>
        </div>
      </div>
      <div id="map"></div>
      <div id="floating-panel">
        <input id="address" type="textbox" value="Київ, Київська область">
        <input id="submit" type="button" value="Geocode">
        <input id="reset" type="button" value="reset">
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <input type="submit" value="Створити" class="btn btn-border-color textcol btn-sm background">
          <a href = "{{url_for('welcomePage')}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
        </div>
      </div> 
    </div>
-->
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <input type="submit" value="Створити" class="btn btn-border-color textcol btn-sm background">
    <a href = "{{url_for('welcomePage')}}" class="btn btn-border-color textcol btn-sm background">Скасувати</a>
  </div>
</div> 

    </form>
  </div>

  {% endblock %}
