<!DOCTYPE html>
<html>
<head>
<title>New site</title>
<meta charset="UTF-8">
</head>
<body>
    <div>
        <h1> Нова Пам'ятка </h1>
    </div
    <div>
        <img src="http://lorempixel.com/400/200" alt="Upload image">
    </div>
    <div>
        <form action="#" method="post">
            <div>
                <table>
                    <tr>
                        <td>Назва: </td>
                        <td><input type="text" name="name"></td>
                    </tr>
                    <tr>
                        <td>Топонiм:</td>
                        <td><input type="text" name="toponim"></td>
                    </tr>
                    <tr>
                        <td>Тип пам'ятки:</td>
                        <td>
                            <select name="type_of_site" size="1">
                                <option value="Городище">Городище</option>
                                <option value="Поселення">Поселення</option>
                                <option value="Могильник">Могильник</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Область:</td>
                        <td>
                            <select name="oblast" size="1">
                                <option value="Вiнницька">Вiнницька</option>
                                <option value="Сумська">Сумська</option>
                                <option value="Київська">Київська</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Район:</td>
                        <td>
                            <select name="rajon" size="1">
                                <option value="Iрпiнський">Iрпiнський</option>
                                <option value="Ладижинський">Ладижинський</option>
                                <option value="Київський">Київський</option>
                            </select>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <td>Населений пункт:</td>
                        <td>
                            <select name="punkt" size="1">
                                <option value="Дубки">Дубки</option>
                                <option value="Волноваха">Волноваха</option>
                                <option value="Пiски">Пiски</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Примiтки: </td>
                        <td><input type="text" name="prymitky"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Культурна належнiсть:</td>
                        <td>
                            <select name="kultnal" size="1">
                                <option value="Скiфська">Скiфська</option>
                                <option value="Юхнiвська">Юхнiвська</option>
                                <option value="Двошарова">Двошарова</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Вузька хронологiя: </td>
                        <td><input type="text" name="chron"></td>
                    </tr>
                    <tr>
                        <td>Надiйнiсть датування: </td>
                        <td><input type="text" name="nadijnist"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Розкопки: </td>
                        <td><input type="text" name="rozkop"></td>
                    </tr>
                    <tr>
                        <td>Звiти: </td>
                        <td><input type="text" name="zvit"></td>
                    </tr>
                    <tr>
                        <td>Публiкацiї: </td>
                        <td><input type="text" name="publicacii"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Картографована:</td>
                        <td>
                            <select name="kartograph" size="1">
                                <option value="Так">Так</option>
                                <option value="Нi">Нi</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Координати: </td>
                        <td><input type="text" name="coord"></td>
                    </tr>
                    <tr>
                        <td>Точнiсть картографування:</td>
                        <td>
                            <select name="tochkart" size="1">
                                <option value="Точно">Точно</option>
                                <option value="За прив'язкою">За прив'язкою</option>
                                <option value="Гiпотетично">Гiпотетично</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                 <table>
                    <tr>
                        <td>Тип топографiчного положення:</td>
                        <td>
                            <select name="toppoltype" size="1">
                                <option value="Дюна">Дюна</option>
                                <option value="Тераса">Тераса</option>
                                <option value="2-га тераса">2-га тераса</option>
                                <option value="Корiнний берег">Корiнний берег</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Геоморфологiчна форма: </td>
                        <td><input type="text" name="geomorform"></td>
                    </tr>
                    <tr>
                        <td>Висота над рiвнем моря: </td>
                        <td><input type="text" name="vysotnadrm"></td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Площа пам'ятки (га): </td>
                        <td><input type="text" name="ploshch"></td>
                    </tr>
                    <tr>
                        <td>Довжина: </td>
                        <td><input type="text" name="dovz"></td>
                    </tr>
                    <tr>
                        <td>Ширина: </td>
                        <td><input type="text" name="shyr"></td>
                    </tr> 
                </table>
            </div>
            <div>
                <input type="submit" value="Створити">
                <a href = "#">Скасувати</a>
            </div> 
        </form>
    </div>
        
</body>
</html>
