<!DOCTYPE html>
<html>
<head>
<title>The site</title>
<meta charset="UTF-8">
</head>
<body>
    <div>
        <h1> Пам'ятка {{name}} </h1>
    </div>
        <div>
            <form action="#" method="post">
            <input type="submit", value="Delete">
        </form>
    </div>
    </br>
    <div>
        <img src="http://lorempixel.com/400/200" alt="Upload image">
        <div>
            <form action="#" method="post">
                <input type="submit", value="Edit">
            </form>
        </div>
        </br>
    </div>
    <div>
        <form>
            <div>
                <table>
                    <tr>
                        <td>Назва: </td>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>Топонiм:</td>
                        <td>{{toponim}}</td>
                    </tr>
                    <tr>
                        <td>Тип пам'ятки:</td>
                        <td>{{type_of_site}}</td>
                    </tr>
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>
                </br>
            </div>
            <div>
                <table>
                    <tr>
                        <td>Область:</td>
                        <td>{{oblast}}</td>
                    </tr>
                    <tr>
                        <td>Район:</td>
                        <td>{{rajon}}</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Населений пункт:</td>
                        <td>{{punkt}}</td>
                    </tr>
                    <tr>
                        <td>Примiтки: </td>
                        <td>{{prymitky}}</td>
                    </tr>
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>
                </br>
            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Культурна належнiсть:</td>
                        <td>{{kultnal}}</td>
                    </tr>
                    <tr>
                        <td>Вузька хронологiя: </td>
                        <td>{{chron}}</td>
                    </tr>
                    <tr>
                        <td>Надiйнiсть датування: </td>
                        <td>{{nadijnist}}</td>
                    </tr>
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>

            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Розкопки: </td>
                        <td>{{rozkop}}</td>
                    </tr>
                    <tr>
                        <td>Звiти: </td>
                        <td>{{zvit}}</td>
                    </tr>
                    <tr>
                        <td>Публiкацiї: </td>
                        <td>{{publicacii}}</td>
                    </tr>
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>

            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Картографована:</td>
                        <td>{{kartograph}}</td>
                    </tr>
                    <tr>
                        <td>Координати: </td>
                        <td>{{coord}}</td>
                    </tr>
                    <tr>
                        <td>Точнiсть картографування:</td>
                        <td>{{tochkart}}</td>
                    </tr>
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>

            </div>
            <br>
            <div>
                 <table>
                    <tr>
                        <td>Тип топографiчного положення:</td>
                        <td>{{toppoltype}}</td>
                    </tr>
                    <tr>
                        <td>Геоморфологiчна форма: </td>
                        <td>{{geomorform}}</td>
                    </tr>
                    <tr>
                        <td>Висота над рiвнем моря: </td>
                        <td>{{vysotnadrm}}</td>
                    </tr>
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>

            </div>
            <br>
            <div>
                <table>
                    <tr>
                        <td>Площа пам'ятки (га): </td>
                        <td>{{ploshch}}</td>
                    </tr>
                    <tr>
                        <td>Довжина: </td>
                        <td>{{dovz}}</td>
                    </tr>
                    <tr>
                        <td>Ширина: </td>
                        <td>{{shyr}}</td>
                    </tr> 
                </table>
                <div>
                    <form action="#" method="post">
                        <input type="submit", value="Edit">
                    </form>
                </div>

            </div>
        </form>
    </div>
        
</body>
</html>

