<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The site</title>
    <link href="{{url_for('static', filename='bootstrap.css')}}" type="text/css" rel="stylesheet">
    <link href="{{url_for('static', filename='my.css')}}" type="text/css" rel="stylesheet">

</head>
<body class="background">
<div class="container container-config textcol">
    <div class="row header">
    <div class="col-md-5"><a href = "{{url_for('welcomePage')}}" class="btn btn-sm"><h2 class="logo">Skiff stuff</h2></a></div>
        <div class="col-md-2 padding">
            <form class="form-inline box-shadow">
                <label class="sr-only">Пошук:</label>
                <input class="form-control" type="text" name="name_of_site" placeholder="Пошук пам'яток">
            </form>
        </div>
        <div class="col-md-1 text-center padding"><a href ="{{url_for('newSite')}}" class="btn btn-color btn-sm">Нова</a>
        </div>
        <div class="col-md-1 text-center padding"><a href = "{{url_for('allSites')}}" class="btn btn-color btn-sm">Усi</a>
        </div>
        <div class="col-md-1 text-center padding"><a href = "#" class="btn btn-color btn-sm">Увiйти</a></div>
        <div class="col-md-2 text-center padding"><a href = "#" class="btn btn-color btn-sm">Зареєструватися</a></div>
    </div>
    <div class = "row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <h2 class="site_name">{{name}} </h2>
        </div>
        <div class="col-md-1 col-md-offset-2">
            <a href = "{{url_for('siteDelete', site_id=site.id)}}" class="btn textcol btn-border-color btn-sm">Видалити</a>
        </div>
        <div class="col-md-1">
            <a href = "{{url_for('siteEdit', site_id=site.id)}}" class="btn btn-border-color textcol btn-sm btn-postion">Редагувати</a>
        </div>
    </div>
    <hr class="hrr"> 
    <div class="row">
        <div class="col-md-4">
            <img src="http://lorempixel.com/250/200" alt="Upload image">
        </div>
        <div class=col-md-4>
                <table class="table">
                    <tr>
                        <td>Назва: </td>
                        <td>{{name}}</td>
                    </tr>
                    <tr>
                        <td>Топонiм:</td>
                        <td>{{toponim}}</td>
                    </tr>
                    <tr>
                        <td>Тип пам'ятки:</td>
                        <td>{{type_of_site}}</td>
                    </tr>
                </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tr>
                    <td>Область:</td>
                    <td>{{oblast}}</td>
                </tr>
                <tr>
                    <td>Район:</td>
                        <td>{{rajon}}</td>
                    </tr>
                    <tr>
                        <td>Населений пункт: </td>
                        <td>{{punkt}}</td>
                    </tr>
                    <tr>
                        <td>Примiтки: </td>
                        <td>{{prymitky}}</td>
                    </tr>
                </table>
        </div>
        <div class="clearfix visible-xs-block"></div>
    </div>
    <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <table class="table">
                    <tr>
                        <td>Культурна належнiсть:</td>
                        <td>{{kultnal}}</td>
                    </tr>
                    <tr>
                        <td>Вузька хронологiя: </td>
                        <td>{{chron}}</td>
                    </tr>
                    <tr>
                        <td>Надiйнiсть датування: </td>
                        <td>{{nadijnist}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td>Розкопки: </td>
                        <td>{{rozkop}}</td>
                    </tr>
                    <tr>
                        <td>Звiти: </td>
                        <td>{{zvit}}</td>
                    </tr>
                    <tr>
                        <td>Публiкацiї: </td>
                        <td>{{publicacii}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td>Картографована:</td>
                        <td>{{kartograph}}</td>
                    </tr>
                    <tr>
                        <td>Координати: </td>
                        <td>{{coord}}</td>
                    </tr>
                    <tr>
                        <td>Точнiсть картографування:</td>
                        <td>{{tochkart}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                 <table class="table">
                    <tr>
                        <td>Тип топографiчного положення:</td>
                        <td>{{toppoltype}}</td>
                    </tr>
                    <tr>
                        <td>Геоморфологiчна форма: </td>
                        <td>{{geomorform}}</td>
                    </tr>
                    <tr>
                        <td>Висота над рiвнем моря: </td>
                        <td>{{vysotnadrm}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <td>Площа пам'ятки (га): </td>
                        <td>{{ploshch}}</td>
                    </tr>
                    <tr>
                        <td>Довжина: </td>
                        <td>{{dovz}}</td>
                    </tr>
                    <tr>
                        <td>Ширина: </td>
                        <td>{{shyr}}</td>
                    </tr> 
                </table>
            </div>
        </div>
<footer class="footer">
<div class="container">
        <div class="header text-right"><strong class="signature">Written by BB</strong></div>
</div>
</footer>
</div> 
</body>
</html>

