/*General styles*/
body {
  overflow-x: hidden;
}
html, body, .container {
  height: 100%;
}
body > .container-fluid {
  height: auto;
  min-height: calc(100% - 75px);
}
a:hover, a:focus {
  text-decoration: none; 
  outline: none;
}
.content {
  color: #242C2F;
}
.background {
  background-color: #F5F5F5;
}

.box {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mapped
{
  display: none;
}

.checkbox {
  margin-top: 0px;
}
.margin-top {
  margin-top: 10px;
}
.nopadding {
  padding-right:0;
  padding-left:0;
}
.mbottom {
  margin-bottom: 15px;
  margin-top: 15px;
}
.text-gr {
  color: #535859;
}
.html-height,.body-height {
  height: 100%;
}
.pull-me{
  -webkit-box-shadow: 0 0 8px #FFD700;
  -moz-box-shadow: 0 0 8px #FFD700;
  box-shadow: 0 0 8px #FFD700;
  cursor:pointer;
}
.pull-me {
  display:block;
  position:relative;
  right:-25px;
  width:150px;
  height:20px;
  font-family:arial,sans-serif;
  font-size:14px;
  color:#ffffff;
  background:#cc0000;
  text-decoration:none;
  -moz-border-bottom-left-radius:5px;
  -moz-border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}
.pull-me p {
  text-align:center;
}

/* Header */
.nav-top {
  margin-bottom: 10px;
  margin-top: 10px;
}
.header {
  height: 55px;
  background: #C3D7DF;
}
.header a:hover {
 color: #F5F5F5;
} 
.navbar-header {
  font-weight: bold;
  margin-bottom: 5px;
}
.navbar-brand {
  color: #6991AC;
  font-size: 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.padding {
  padding-top: 15px;
}
.navbar-right li a {
  font-weight: 400;
  letter-spacing: 1px;
  color: #6991AC;
  text-transform: uppercase;
}

/* Footer */
.footer {
    bottom: 0px;
    width: auto;
    height: 20px;
    background-color: #C3D7DF;
}
.signature {
    color: #6991AC;
}

/* Forms */ 
@media (min-width:768px) {
  .form-inline .form-control {
    width: 100%;
  }
}
.form-custom {
  height: 28px;
  font-size: 12px;
  padding: 3px 12px;
}
.form-group-custom {
  margin-bottom: 5px;
}

/* Buttons */
.btn-color {
    color: #6991AC;
}
.btn-border-color {
    border-color: #C3D7DF;
}
.btn-postion {
    position: relative;
    right: 5px;
}

/* Maps */
.map-preview {
  height: 250px;
  width: 250px;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (max-width : 1200px) {
  .map-preview {
    height: 250px;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
}
@media (min-width : 1200px) {
  .location {
    margin-right: 15px;
  }
}

/*Geolocation*/
.geo-map {
  height: 500px;
}

/* ---All sites page--- */
.site_name {
    margin: auto;
    font-weight: bold;
    color: #67727A;
}
.site-preview {
  margin-bottom: 5px;
  margin-top: 5px;
}
.preview-box {
  width: 90%;
  height: 120px;
  margin: 0px;
}
.preview-box:hover {
  background-color: #CECECE;
}
.preview-box > a {
  color: #5E5E5E;
}
.preview-box > a:hover {
  color: black;
}
/* ---Site page--- */
.bibliography {
  white-space: pre-line;
}

.gallery {
  margin-bottom: 10px;
}
.gallery-box {
  background-color: #447391;
  border-radius: 4px;
}
.carousel-inner > .item > div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.carousel-inner > .item > div > a > img {
  display: block;
  margin: auto;
}

.carousel-control.left {
  border-radius: 4px;
}
.carousel-control.right {
  border-radius: 4px;
}

/* Carousel */
.multi-item-carousel .carousel-inner > .item {
  -webkit-transition: 500ms ease-in-out left;
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    -webkit-transition: 500ms ease-in-out all;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-transform: none!important;
    transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}

/* ---New Site page--- */

#id_undefined {
  width: 1.2em;
  height: 1.2em;
  outline: none;
}
#id_dating {
  border:0px;
  background-color: #F5F5F5;
}

/* Slider */
#slider {
  padding-left:70px;
  padding-right:100px;
  margin-left:0px;
}
#floating-panel {
  border: 2px solid #C3D7DF;
  left: 500px;
  width: 45%;
  background: white;
  position: relative;
  bottom: 480px;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
.avatar {
  width: 350px;
}

/* Sidebar */
.wrapper {
  position: relative;
  top: 0;
  /*the problem is here*/
  height: calc(100vh - 75px);
}

.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: center center;
  background-color: #6991AC;
}
.sidebar .sidebar-wrapper {
  position: relative;
  max-height: none;
  min-height: 100%;
  overflow: hidden;
  width: 240px;
  z-index: 4;
}
.sidebar .sidebar-background {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
}
.sidebar .logo {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
.sidebar .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}
.sidebar .logo-tim img {
  width: 60px;
  height: 60px;
}
.sidebar .nav {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.sidebar .nav li > a {
  color: #FFFFFF;
  margin: 5px 15px;
  opacity: .86;
  border-radius: 4px;
}
.sidebar .nav li:hover > a {
  background: rgba(255, 255, 255, 0.13);
  opacity: 1;
}
.sidebar .nav li.active > a {
  color: #FFFFFF;
  opacity: 1;
  background: rgba(255, 255, 255, 0.23);
}
.sidebar .nav li > input, .sidebar .nav li > select {
  width: 220px;
}
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}
.sidebar .nav i {
  font-size: 28px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  width: 30px;
  text-align: center;
}

.sidebar .logo,
body > .navbar-collapse .logo {
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.sidebar .logo p,
body > .navbar-collapse .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #FFFFFF;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.sidebar .logo .simple-text,
body > .navbar-collapse .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: block;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  font-weight: 400;
  line-height: 30px;
}
.sidebar .logo-tim,
body > .navbar-collapse .logo-tim {
  border-radius: 50%;
  border: 1px solid #333;
  display: block;
  height: 61px;
  width: 61px;
  float: left;
  overflow: hidden;
}
.sidebar .logo-tim img,
body > .navbar-collapse .logo-tim img {
  width: 60px;
  height: 60px;
}
.sidebar:after, .sidebar:before,
body > .navbar-collapse:after,
body > .navbar-collapse:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.sidebar[data-image]:after, .sidebar.has-image:after,
body > .navbar-collapse[data-image]:after,
body > .navbar-collapse.has-image:after {
  opacity: .77;
}
.sidebar[data-color="blue"]:after,
body > .navbar-collapse[data-color="blue"]:after {
  background: #1F77D0;
  background: -moz-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1F77D0), color-stop(100%, #533ce1));
  background: -webkit-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
  background: -o-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
  background: -ms-linear-gradient(top, #1F77D0 0%, #533ce1 100%);
  background: linear-gradient(to bottom, #1F77D0 0%, #533ce1 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="azure"]:after,
body > .navbar-collapse[data-color="azure"]:after {
  background: #1DC7EA;
  background: -moz-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1DC7EA), color-stop(100%, #4091ff));
  background: -webkit-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
  background: -o-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
  background: -ms-linear-gradient(top, #1DC7EA 0%, #4091ff 100%);
  background: linear-gradient(to bottom, #1DC7EA 0%, #4091ff 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="green"]:after,
body > .navbar-collapse[data-color="green"]:after {
  background: #87CB16;
  background: -moz-linear-gradient(top, #87CB16 0%, #6dc030 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #87CB16), color-stop(100%, #6dc030));
  background: -webkit-linear-gradient(top, #87CB16 0%, #6dc030 100%);
  background: -o-linear-gradient(top, #87CB16 0%, #6dc030 100%);
  background: -ms-linear-gradient(top, #87CB16 0%, #6dc030 100%);
  background: linear-gradient(to bottom, #87CB16 0%, #6dc030 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="orange"]:after,
body > .navbar-collapse[data-color="orange"]:after {
  background: #FFA534;
  background: -moz-linear-gradient(top, #FFA534 0%, #ff5221 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA534), color-stop(100%, #ff5221));
  background: -webkit-linear-gradient(top, #FFA534 0%, #ff5221 100%);
  background: -o-linear-gradient(top, #FFA534 0%, #ff5221 100%);
  background: -ms-linear-gradient(top, #FFA534 0%, #ff5221 100%);
  background: linear-gradient(to bottom, #FFA534 0%, #ff5221 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="red"]:after,
body > .navbar-collapse[data-color="red"]:after {
  background: #FB404B;
  background: -moz-linear-gradient(top, #FB404B 0%, #bb0502 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FB404B), color-stop(100%, #bb0502));
  background: -webkit-linear-gradient(top, #FB404B 0%, #bb0502 100%);
  background: -o-linear-gradient(top, #FB404B 0%, #bb0502 100%);
  background: -ms-linear-gradient(top, #FB404B 0%, #bb0502 100%);
  background: linear-gradient(to bottom, #FB404B 0%, #bb0502 100%);
  background-size: 150% 150%;
}
.sidebar[data-color="purple"]:after,
body > .navbar-collapse[data-color="purple"]:after {
  background: #9368E9;
  background: -moz-linear-gradient(top, #9368E9 0%, #943bea 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9368E9), color-stop(100%, #943bea));
  background: -webkit-linear-gradient(top, #9368E9 0%, #943bea 100%);
  background: -o-linear-gradient(top, #9368E9 0%, #943bea 100%);
  background: -ms-linear-gradient(top, #9368E9 0%, #943bea 100%);
  background: linear-gradient(to bottom, #9368E9 0%, #943bea 100%);
  background-size: 150% 150%;
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 260px);
  min-height: 100%;
}
.main-panel > .content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel .navbar {
  margin-bottom: 0;
}

.sidebar,
.main-panel {
  overflow: auto;
  max-height: 100%;
  height: 100%;
  -webkit-transition-property: top,bottom;
  transition-property: top,bottom;
  -webkit-transition-duration: .2s,.2s;
  transition-duration: .2s,.2s;
  -webkit-transition-timing-function: linear,linear;
  transition-timing-function: linear,linear;
  -webkit-overflow-scrolling: touch;
}
